.site-footer {
  display: flex;
  flex-direction: column;
  background-color: $black-softer;
  color: $grey;

  // justify-content: space-between;
  // align-items: center;

  /*
  ** CONTENT
  */
  &__content {
    padding: 40px 0;
    @include responsive-padding;
    display: flex;
    flex-direction: column;
    // align-items: center;
    & > div {
      margin-bottom: 20px;
    }
    & div:last-child {
      margin-bottom: 0;
    }
  }

  /*
  ** Social links
  */
  &__social {
    .site-footer__logo-wrapper,
    p {
      margin-bottom: 28px;
    }
    // .site-footer__logo-wrapper {
    //   text-align: center;
    // }
  }
  &__social-icons {
    display: flex;
    justify-content: center;
  }
  &__social-icon-wrapper {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid $gold;
    margin-right: 10px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /*
  ** Footer headers
  */
  &__header {
    color: $white;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 54px;
  }

  /*
  ** More links
  */
  &__links {
    ul {
      padding-left: 35px;
    }
    a {
      color: $grey;
      transition: color 200ms;
      &:hover {
        color: $white;
        li::before {
          transform: translateX(10px);
        }
      }
    }
    li {
      position: relative;
      margin-bottom: 1em;
      &::before {
        position: absolute;
        content: ">>";
        right: calc(100% + 20px);
        color: $white;
        transition: transform 200ms;
      }
    }
  }

  /*
  ** Our address
  */
  &__address {
    ul {
      padding-left: 35px;
    }
    li {
      position: relative;
      margin-bottom: 1em;
      transition: color 200ms;
      &::before {
        position: absolute;
        content: "";
        right: calc(100% + 20px);
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
      }
      &.address__house::before {
        background-image: url(./images/house.png);
      }
      &.address__phone::before {
        background-image: url(./images/phone.png);
      }
      &:hover {
        color: $white;
      }
    }
  }

  /*
  ** Copyrights
  */
  &__copyrights {
    padding: 18px 0;
    @include responsive-padding;
    background-color: $black-soft;
    text-align: center;
  }
}
