.site-footer {
  display: flex;
  flex-direction: column;
  background-color: $black-softer;
  color: $grey;
  font-size: 14px;
 
  /*
  ** CONTENT
  */
  &__content {
    padding: 40px 0;
    @include responsive-padding;
    display: flex;
    flex-direction: column;
    // align-items: center;
    & > div {
      margin-bottom: 20px;
    }
    & div:last-child {
      margin-bottom: 0;
    }
  }

  /*
  ** Social links
  */
  &__social {
    grid-area: social;
    .site-footer__logo-wrapper,
    p {
      margin-bottom: 28px;
    }
    .site-footer__logo-wrapper {
      text-align: center;
    }
  }
  &__social-icons {
    display: flex;
    justify-content: center;
  }
  &__social-icon-wrapper {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid $gold;
    transition: border 200ms;
    &:hover {
      border-width: 4px;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /*
  ** Footer headers
  */
  &__header {
    color: $white;
    font-size: 18px;
  }

  /*
  ** More links
  */
  &__links {
    grid-area: links;
    ul {
      padding-left: 35px;
    }
    a {
      color: $grey;
      transition: color 200ms;
      &:hover {
        color: $white;
        li::before {
          transform: translateX(10px);
        }
      }
    }
    li {
      position: relative;
      margin-bottom: 1em;
      &::before {
        position: absolute;
        content: ">>";
        right: calc(100% + 20px);
        color: $white;
        transition: transform 200ms;
      }
    }
  }

  /*
  ** Our address
  */
  &__address {
    grid-area: address;
    ul {
      padding-left: 35px;
    }
    li {
      position: relative;
      margin-bottom: 1em;
      transition: color 200ms;
      &::before {
        position: absolute;
        content: "";
        right: calc(100% + 20px);
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
      }
      &.address__house::before {
        background-image: url(../images/house.png);
      }
      &.address__phone::before {
        background-image: url(../images/phone.png);
      }
      &:hover {
        color: $white;
      }
    }
  }
 
  /*
  ** Copyrights
  */
  &__copyrights {
    grid-area: copyrights;
    padding: 18px 0;
    @include responsive-padding;
    background-color: $black-soft;
    color: $white;
    text-align: center;
    font-size: 14px;
    width: 100vw;
  }
}

@media (min-width: 500px) {
  .site-footer {
    &__content {
      display: grid;
      grid-gap: 2em;
      grid-template-areas:
        "social social"
        "links address"
        "copyrights copyrights";
      & > div {
        margin-bottom: 0;
      }
    }
    &__social {
      justify-self: center;
      max-width: 600px;
    }
    &__links {
      justify-self: center;
    }
    &__address {
      justify-self: center;
    }
  }
}

@media (min-width: 1200px) {
  .site-footer {
    &__content {
      display: grid;
      grid-gap: 2em;
      grid-template-areas:
        "social links address"
        "copyrights copyrights copyrights";
      padding-top: 150px;
      padding-bottom: 100px;
      & > div {
        margin-bottom: 0;
      }
    }
    &__social {
      justify-self: left;
      max-width: 350px;
      .site-footer__logo-wrapper {
        text-align: left;
      }
    }
    &__social-icons {
      justify-content: left;
      padding-top: 1.5em;
    }
    &__links {
      justify-self: left;
      padding-top: 1.5em;
    }
    &__address {
      justify-self: left;
      padding-top: 1.5em;
    }
  }
}
