.underline {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 54px;
  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 25px);
    height: 2px;
    width: 40px;
    background-color: $gold;
  }
  &.left::after {
    left: 0;
  }
  &.center {
    text-align: center;
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: $gold;
  color: $white;
  text-transform: uppercase;
  border: none;
}
