.underline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 25px);
    height: 2px;
    width: 40px;
    background-color: $gold;
  }
  &.left::after {
    left: 0;
  }
  &.center::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
