.site-header {
  position: relative;

  /*
  ** Quick contacts section 
  */
  &__quick-contacts {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    @include responsive-padding;
    margin: 0 auto;
    background-color: $black-header;
    color: $white;
    font-size: 12px;
  }

  &__reachout {
    display: flex;
    flex-direction: column;
    img {
      margin-right: 12px;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: right;
    span {
      text-align: right;

      &:nth-child(2) {
        display: flex;
        justify-self: right;
        align-self: center;
        img {
          margin-left: 21px;
        }
      }
    }
  }

  /*
  ** Main header section 
  */
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 22px 0;
    @include responsive-padding;
    overflow: hidden;
  }

  &__branding img {
    width: calc(100% - 2em);
  }

  /*
  ** Hamburger 
  */
  &__hamburger {
    padding: 10px 0;
    cursor: pointer;
    .hamburger {
      position: relative;
      height: 20px;
      width: 35px;
      &__line {
        position: absolute;
        width: 35px;
        height: 4px;
        background-color: $grey-dark;
        transform-origin: center;
        transition: transform 300ms;
      }
      .l1 {
        top: 0;
      }
      .l2 {
        top: 8px;
      }
      .l3 {
        top: 16px;
      }
    }
    &.on {
      .l1 {
        transform: translateY(8px) rotate(40deg);
      }
      .l2 {
        transform: translateX(100px);
      }
      .l3 {
        transform: translateY(-8px) rotate(-40deg);
      }
    }
  }

  &__nav {
    position: absolute;
    background-color: $white;
    top: 100%;
    left: 100%;
    width: 100%;
    padding: 1em;
    transition: transform 200ms;
    z-index: 10;

    .site-nav {
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .menu-item {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      transition: color 200ms;
      &.i4 {
        margin-bottom: 0em;
      }
    }
    a:hover .menu-item {
      color: $gold;
    }

    &.on {
      transform: translateX(-100%);
    }
  }
}

@media (min-width: 800px) {
  .site-header {
    &__reachout {
      flex-direction: row;
      span:first-child {
        margin-right: 47px;
      }
    }
    &__social {
      flex-direction: row;
    }

    &__branding img {
      width: 100%;
    }
  }
}
