.site-content {
  // height: 100px;
  // background-color: $blue-baby;
  width: 100%;
}

.site-main {
  & > div {
    padding: 45px 0;
    @include responsive-padding;
  }
  h2 {
    font-weight: bold;
  }
}

.intro {
  &__block {
    background-image: url(./images/intro-pic.jpg);
    background-position: 75% 0;
    background-size: cover;

    // background-size: ;
  }
  &__content {
    h2 {
      font-size: 35px;
    }
    p {
      margin-bottom: 35px;
    }
  }
}

.services {
  &__header {
    p {
      text-align: center;
    }
    margin-bottom: 45px;
  }

  &__card {
    width: 100%;
    // width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-size: cover;
    &:nth-child(1) {
      background-image: url(./images/service1.jpg);
    }
    &:nth-child(2) {
      background-image: url(./images/service2.jpg);
    }
    &:nth-child(3) {
      background-image: url(./images/service3.jpg);
    }
    &:nth-child(4) {
      background-image: url(./images/service4.jpg);
      margin: 0;
    }
    img {
      height: 50px;
      margin-bottom: 37px;
    }
    p {
      text-transform: uppercase;
      color: $white;
    }
  }
}

.our-story{
  &__block{
    background-color: $grey-light2;
  }
  &__content{
    h4, p{
      margin-bottom: 25px;
    }
  }
}

.testimonials {
  &__block {
    background-color: $black-softer;
    color: $white;
  }
  &__content {
    border: 1px solid $gold;
    padding: 1em;
    text-align: center;

    h4 {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 35px;
    }
  }
}

.clients {
  // &__block{}
  // &__header{}
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // flex-wrap: wrap;

  }
  &__img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
  }
}