.site-content {
  // height: 100px;
  // background-color: $blue-baby;
  width: 100%;
}

.site-main {
  & > div {
    padding: 45px 0;
    @include responsive-padding;
  }
  h2 {
    font-weight: bold;
  }
}

.intro {
  &__block {
    background-image: url(./images/intro-pic.jpg);
    background-position: 75% 0;
    background-size: cover;
  }
  &__content {
    h2 {
      font-size: 35px;
    }
    p {
      margin-bottom: 35px;
      font-family: $font2;
      font-size: 16px;
    }
  }
}

.services {
  &__block {
    padding-bottom: 0 !important;
  }
  &__header {
    p {
      text-align: center;
      color: $grey-dark;
      font-family: $font2;
      font-size: 16px;
    }
    margin-bottom: 45px;
  }

  &__card {
    width: 100%;
    // width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-size: cover;
    img {
      height: 50px;
      margin-bottom: 37px;
    }
    p {
      text-transform: uppercase;
      color: $grey-dark;
      color: $white;
      font-weight: bold;
    }
  }
  &__content {
    a:nth-child(1) div {
      background-image: url(./images/service1.jpg);
    }
    a:nth-child(2) div {
      background-image: url(./images/service2.jpg);
    }
    a:nth-child(3) div {
      background-image: url(./images/service3.jpg);
    }
    a:nth-child(4) div {
      background-image: url(./images/service4.jpg);
      margin: 0;
    }
  }
}

.our-story {
  &__block {
    background-color: $grey-light2;
  }
  &__content {
    h4 {
      font-size: 16px;
      margin-bottom: 25px;
      font-family: $font2;
      color: $grey-dark;
    }
    p {
      font-size: 14px;
      color: $grey-dark;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.testimonials {
  &__block {
    background-color: $black-softer;
    color: $white;
  }
  &__content {
    border: 1px solid $gold;
    padding: 1em;
    text-align: center;

    h4 {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 35px;
    }
    p {
      font-family: $font2;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}

.clients {
  // &__block{}
  &__header {
    text-align: center;
    p {
      font-family: $font2;
      color: $grey-dark;
      font-size: 18px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // flex-wrap: wrap;
  }
  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
  }
}
