$gold: #af943e;
$blue-baby: #5ed9e7;

$white: #fff;
$grey-light: #f6f6f6;
$grey-light2: #f3f4f5;
$grey: #888888;
$grey-dark: #666666;
$black-mat: #333333;
$black-soft: #141516;
$black-softer: #181a1b;
$black-header: #2e2e2f;
$black: #000000;

$font1: Poppins;
$font2: Merriweather;

$screen-padding-xs: 0 1em;
$screen-padding-sm: 0 3em;
$screen-padding-xlg: 0 calc((100vw - 1200px) / 2);

@mixin sm-screen {
  @media (min-width: 420px) {
    @content;
  }
}

@mixin md-screen {
  @media (min-width: 600px) {
    @content;
  }
}

// @mixin lg-screen {
//   @media (min-width: 850px) {
//     @content;
//   }
// }

@mixin lg-screen {
  @media (min-width: calc(1096px + 1em)) {
    @content;
  }
}

@mixin responsive-width {
  @include lg-screen{
    width: 1096px;
  }

  
}
@mixin responsive-padding {
  padding-left: 1em;
  padding-right: 1em;
  
  
}